################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASM_1/FileContentIndex/34316301-a63d-4a90-89c8-b6eeb2f7dd55.vsidx
