@model ASM_1.Models.Food.FoodOption

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodOption</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodItemId" class="control-label"></label>
                <select asp-for="FoodItemId" class ="form-control" asp-items="ViewBag.FoodItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OptionName" class="control-label"></label>
                <input asp-for="OptionName" class="form-control" />
                <span asp-validation-for="OptionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraPrice" class="control-label"></label>
                <input asp-for="ExtraPrice" class="form-control" />
                <span asp-validation-for="ExtraPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionType" class="control-label"></label>
                <input asp-for="OptionType" class="form-control" />
                <span asp-validation-for="OptionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

